// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.start-page {
  background-color: $my-body-bg;
}

.start-content { 
  padding-top: 5.325rem;
  padding-bottom: 5.325rem;
  background-color: #356480;
  background-image: image-url('banner.jpg');
  background-size: cover;
  color: #eee;

  .heading, .sub-heading {
    color: #eee;
  }

  .button {
    margin-top: 1rem;
    background-color: #eee;
    border-color: #356480;
    color: $primary-color;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    &:hover {
      color: darken($primary-color, 10);
    }
  }
}

.start-hots-content {
  h2 {
    text-align: center;
    margin: 1.4rem 0 1rem 0;
    font-size: 1.2rem;
  }
  .box {
    border: 1px solid $my-project-border-color;
    background-color: white;
    padding: 1rem 0;
    list-style-type: none;
    .blog {
      padding: 1rem 1rem;
      border-bottom: 1px dashed #ddd;
      .content {
        .subtitle{
          color: #555;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span{
          color: #999;
          margin-right: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
    
  }
}

.start-users-content, .start-tools-content, .start-blogs-content{
  h2 {
    text-align: center;
    margin: 1.4rem 0 1rem 0;
    font-size: 1.2rem;
  }
  .user img{
    border-radius: 50%;
  }

  .head {
    min-height: 6.5rem;
    h5 {
      font-size: 1.025rem;
    }
  }

  .content {
    text-align: center;
    .tag {
      color: #999;
    }
    .tools {
      color: #666;
    }
  }

  .box {
    border: 1px solid $my-project-border-color;
    background-color: white;
    padding: 2rem 0;

    .head {
      padding: 0rem 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px dashed #ddd;
      padding-bottom: 2rem;

      img {
        border: 1px solid $my-project-border-color;
      }

      .subtitle {
        margin: 1rem 0 0;
        color: #999;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .content {
      padding: 0 2rem;
      line-height: 2rem;
      height: 5rem;
      .type {
        color: #999;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item {
        text-align: right;
        color: #666;
        width: 100%;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }


}

