/ li
/   = link_to t('menu.projects')

/ - if current_user.present?
/   li
/     = link_to t('menu.activities')
/ li
/   = link_to t('menu.investors')
/ li
/   = link_to t('menu.jobs')

/ li.has-form
/   = render 'layouts/search_input'


/ 工具Home
/ 热点工具
/ 工具分类
/ 博客
/ 酷站

/ https://www.ruby-toolbox.com/blog
/ https://ruby-china.org/topics
/ https://css-tricks.com/
/ http://cywin.cn/

li class="#{active_for(controller_name, :home)}"
  = link_to t('menu.home'), root_path

/ - if current_user.present?
/   li class="#{active_for(controller_name, 'recommend')}"
/     = link_to t('menu.hot')
/ li class="#{active_for(controller_name, :categories)}"
/   = link_to t('menu.categories'), categories_path
li class="#{active_for(controller_name, :blogs)}"
  = link_to t('menu.blog'), blogs_path
li class="#{active_for(controller_name, :sites)}"
  = link_to t('menu.sites'), sites_path

li.has-form
  = render 'layouts/search_input'